body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #c4ca70;
  color: #333;
}

header {
  background-color:#fbfdee;
  border-bottom: 2px solid #ddd;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #3d3d3d;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #4b8056;
  font-weight: bold;
}

.destaques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  background: #c4ca70;
}

.card {
  background-color: #f9ffd4;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
  max-width: 180px;
}

.card img {
  width: 180px;
  border-radius: 8px;
}

.card button {
  background-color: #4b8056;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.apresentacao {
  text-align: center;
  background-color:#f9ffd4;
  padding: 40px 20px;
}

.apresentacao h2 {
  max-width: 600px;
  margin: 0 auto 20px;
  font-size: 22px;
}

.apresentacao button {
  background-color: #4b8056;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.produtores {
  padding: 40px 20px;
}

.produtores h3 {
  text-align: center;
  margin-bottom: 30px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.produtor {
  text-align: center;
}

.produtor img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
