body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #af204b;
  color: #050404;
  max-width: 100%;
}

header {
  background-color:#af204b;
  border-bottom: 2px solid  #7c3642;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #a05662;
}

nav ul {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #e25775;
  font-weight: bold;
}

.principais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  background: #dd486d;
}

.card {
  background-color: #a8456b;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
  max-width: 180px;
}

.card img {
  width: 180px;
  border-radius: 8px;
}

.card button {
  background-color: #c73968;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.apresentacao {
  text-align: center;
  background-color:#bd0c41;
  padding: 40px 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 6px rgba(214, 43, 66, 0.1);
  position: relative;
  overflow: hidden;
}

.apresentacao h2 {
  max-width: 600px;
  margin: 0 auto 20px;
  font-size: 22px;
}

.apresentacao button {
  background-color: #b3295e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.destaques {
  padding: 20px, 20px;
  background-color: #d60f5b;
  border-top: 2px solid  #df7497;;
}

.destaques h3 {
  text-align: center;
  margin-bottom: 30px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.destaques {
  text-align: center;
}

.destaques img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
